body {
  margin: 0;
  width: 100%;
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*
 * Centering the body content
 */

input[type='file'] {
  opacity:0
}


#geneButton {
    width: 250px;
    height: 30px;
    font-weight: 500;
    text-align: center;
    background-color: #efefef;
}

.btn-sm{
    width: 250px;
    text-align: center;
}

table.dataframe.data {
    border-collapse: collapse;
}

th {
    background-color: gray;
    color: white;
}

tr:hover {
    background-color: lightgray;
}

.input {
    width: 275px;
}

div.container {
    padding: 60px 15px 0;
    margin-left: 290px;
    height: 100%;
}

div.result_container {
    padding: 60px 15px 0;
    height: 100%;
}

div.table_container {
    height: 100%;
}

div.fill_container {
    display: flex;
    min-height: 100vh
}

#divLoading {
  margin: 0px;
  display: none;
  padding: 0px;
  position: absolute;
  background: transparent;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}


.fieldset{
    background-color: #fbfbfb;
}

#loading {
  position: absolute;
  top: 30%;
  left: 50%;
}

div.sidenav {
    width: 300px;
    height: 100%;
    padding: 60px 0;
    position: absolute;
    z-index: 1000;
    left: 0;
    background-color: #eeeeee;
    color: rgb(75,81,91);
    opacity: 0.99;
    overflow-x: visible;
    transition: 0.5s;
    display: block;
}

div.input-wrapper{
    padding: 0px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 5px
}

div.input-content{
    float: left;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h4.input-heading{
    height: 40px;
    cursor: pointer;
    padding: 10px;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0px;
    margin: 0px;
    color: #101314;
    pointer-events: auto;
}

div.input-item-content{
    max-height: 1000px;
    padding-top: 10px;
    position: relative;
    overflow: hidden;
    padding-bottom: 0ox;
    margin-right: 0px;
    width: 100%;
    marginL 0px;
    display: block;
    box-sizing: border-box;
    float: left;
}

.box_padding{
    padding: 10px
}

.button_padding{
    padding: 10px 0px 10px 0px
}

select {
    width: 200px;
}

input[type="text"] {
    width: 150px;
}

.tab-content>.active {
    display: flex;
}

div.item-content{
    padding: 10px;
}

div.dom_wrapper {
  position: sticky;  /* Fix to the top */
  width: 100%;
  padding: 5px;
  background: rgba(255, 255, 255, 1);  /* hide the scrolling table */
}

div.dt-buttons {
    float: right;
    margin-left:10px;
}

.dataTables_filter {
    float: left !important;
}

.dataTables_info {
    padding-top: 0em !important
}

.pagination {
    padding-top: 15px !important;
}

#probstable {
    display: none;
}

#gotable {
    display: none;
}

#distable {
    display: none;
}

#validatetable {
    display: none;
}