<!-- {# for geneplexus.thekrishnanlab.org #} -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GBBL2HWQVV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());  gtag('config', 'G-GBBL2HWQVV');
</script>

<!-- {# for geneplexus.azurewebsites.net   Use  'include' in base templates #} -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZT32XHW115"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());  gtag('config', 'G-ZT32XHW115');
</script>


