{% extends "base.html" %}

{% block app_content %}

<style>

</style>

<div class="sidenav">
    <div class="item-content">
        <h4>Job Lookup</h4>
        <hr>
        <form class="form" method="post">
            <fieldset class="border box_padding fieldset">
                <label>
                Recall job results by name
                </label>&nbsp<a href="#" data-toggle="popover" data-trigger="hover" data-placement="right"
                       data-content="Only jobs from this browser session are available in this list. Enter the job name (name only) to find a previous job (exact match)
                       or copy and paste the job url in your browser.">
                         <i class="fas fa-question-circle"></i></a>
                <div>
                
        {{ form.jobname(class="form-control", placeholder="job name") }}</div>
        <P>&nbsp;</P>
        {{ form.lookup(class_="btn btn-sm btn-primary")}}
        </fieldset>
        </form>      
    </div>
</div>

<div class="container">
        
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">
                        <strong>{{ message }}</strong>
                    </div>
                    {% endfor %}
            {% endif %}
            {% endwith %}
        
     
        <h4 >Jobs Submitted for this session</h4>
        
        {% if joblist %}
        <hr>
        <table class="table w-100" style="width:100%;" id="jobstable">
            <thead>
                <tr >
                <th>Job Name</th>
                <th>Submit Time</th>
                <th>Parameters</th>
                <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for job in joblist %}
                
                <tr id="job-{{job['jobname']}}" class="{{'table-success' if job['has_results'] }}" >
                    <td> 
                        {% if job['has_results'] %}
                            <a href="{{url_for('job',jobname=job['jobname']) }}">{{job['jobname']}}</a>
                        {% else %}
                            {{job['jobname']}}
                        {% endif %}
                    </td>
                        
                    </td>
                    <td>{{job['submit_time']}}</td>
                    <td>{% if job['params'] %}
                        {{job['params']['GP_NET_TYPE']}}; {{job['params']['GP_FEATURES']}}; {{job['params']['GP_GSC']}}
                        {% endif %}
                    </td>
                    <td>{{job['status']}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        
        <p style="padding-top:1em;">No recent jobs in session. You search for one on the left, or start a new one on our <a href="{{url_for('index')}}">home page</a>  </p>
        {% endif %}
    
    </div>

{% endblock %}



{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<script>

$(document).ready( function () {
    $('#jobstable').DataTable({
        "lengthChange": false,
        "pageLength": 20,
        "autoWidth": false,
        "responsive": false,
        "filter": false,
        "order": [[ 1, "asc" ]]
    });

});

// 
</script>

{% endblock %}
