<div class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{{ url_for('index') }}">GenePlexus</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="navbar-item active">
                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="navbar-item active">
                <a class="nav-link"  href="{{ url_for('jobs') }}">Jobs</a>
            </li>

            <li class="navbar-item active">
                <a class="nav-link"  href="{{ url_for('help') }}">Help</a>
            </li>
            <li class="navbar-item active">
                <a class="nav-link"  href="{{ url_for('about') }}">About</a>
            </li>
            <li class="navbar-item active">
                <a class="nav-link"  href="{{ url_for('contact') }}">Contact</a>
            </li>

        </ul>
        <ul class="navbar-nav ">
            <li class="navbar-item mr-auto active">
                <a class="nav-link"  href="https://www.thekrishnanlab.org/" target="_blank">Krishnan Lab</a>
            </li>
        </ul>
    </div>
  </div>
